<h5>{{questionText}}</h5>
{{#if additionalInfo}}
    <small>{{additionalInfo}}</small>
{{/if}}

<!-- TODO -->
{{#if answered}}
    <table class="radio-button-table table col-lg-10">
        <thead>
        <tr>
            <th scope="col"></th>
            {{#each this.columnLabels }}
                <th scope="col">{{label}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each this.rows as |row|}}
            <tr>
                <th scope="row" class="table-row-title">{{row.rowLabel}}</th>
                {{#each choices as |choice|}}
                    <td>
                        <!-- TODO label -->
                        {{#if choice.selected}}
                            <input type="radio"
                                   name="{{stringFormat "answer-%s-%s-%s" questionId questionType row.id}}"
                                   value="{{id}}"
                                   checked="checked"
                                   disabled>
                        {{else}}
                            <input type="radio"
                                   name="{{stringFormat "answer-%s-%s-%s" questionId questionType row.id}}"
                                   value="{{id}}"
                                   disabled>
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No answer given.</p>
{{/if}}