<h5>{{questionText}}</h5>
{{#if additionalInfo}}
    <small>{{additionalInfo}}</small>
{{/if}}

{{#if answered}}
    {{#assign "questionId"}}{{this.id}}{{/assign}}
    {{#assign "questionType"}}{{this.type}}{{/assign}}

    {{#each choices}}
        <div class="form-check">
            <label class="form-check-label">
                {{#if selected}}
                    <input class="form-check-input" type="radio"
                           disabled="disabled"
                           checked
                           name="{{stringFormat "answer-%s-choice" questionId}}"
                           value="{{id}}">{{label}}</label>
                {{else}}
                    <input class="form-check-input" type="radio"
                           disabled="disabled"
                           name="{{stringFormat "answer-%s-choice" questionId}}"
                           value="{{id}}">{{label}}</label>
                {{/if}}
        </div>
    {{/each}}
{{else}}
    <p>No answer given.</p>
{{/if}}
